body, h1, h2, h3, p, li {
  font-family: "helvetica-neue";
}

#project_content {
  position: relative;
  width: 100%;

}

#project_header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 55px;
}

#project_info {
  position: absolute;
  left: 150px;
  top: 10px;
  width: 100%;
  /*background-color: #FFFFFF;*/
}

#project_type {
  font-family: "helvetica neue";
  text-transform: uppercase;
  display: inline-block;
  margin: 25px;

}

#project_nav {
  position: absolute;
  left: 10px;
  top: 60px;
}

#project_nav h1 {
  font-family: 'helvetica neue';
  font-size: 3.5em;
  font-weight: bold;
}

#project_nav li {
  font-family: 'helvetica neue';
  font-size: 1em;
  font-weight: bold;
}

#project_info li {
  float: left;
  padding: 5px;
  margin-right: 0px;
}

#project_info span {
  padding: 60px;
  color: gray;
  line-height: 52px;
}
#project_title {
  font-family: "helvetica neue";
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}

#project_creator {
  position: absolute;
  left: 900px;
  top: 60px;
  font-family: 'helvetica neue';
  font-size: 1em;
  font-weight: bold;
}


.project_detail {
  position: relative;
  top: 50px;
  left: 166px;
  margin: 0px 0 150px 0;

}

.project_slideshow {
  position: relative;
  width: 100%;
}

.project_slideshow img {
  position: relative;
  width: auto;
  height: 540px;
  overflow: hidden;
  }

.cycle-pager {
  position: relative;
  left: 735px;
  top: -500px;
}

.cycle-pager span {
  list-style: square;
  float: left;
}

.landscape {
 /*height: auto;*/
 }

.portrait {
  /*width: auto;*/
}
/*.project_slideshow {
  position: relative;
  
  overflow: hidden;
}*/

.caption {
  position: relative;
  display: inline-block;
  margin: 20px 0 0 0;
  width: 425px;
}

.process_point {
 font-family: 'helvetica neue';
 font-size: .67em;
 font-weight: bold;
 text-transform: uppercase;
}

.caption p {
  font-family: 'helvetica neue';
  font-size: .67em;
}



.project_materials {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 0 20px;
/*  width: 590px;*/
}

.project_materials h3 {
  font-family: 'helvetica neue';
  font-size: .67em;
  font-weight: bold;
}

.project_materials a {
  font-family: 'helvetica neue';
  font-size: .67em;
  font-weight: bold;
  color: #383838;

}

.project_share_nav {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.project_share_nav a {
  float: left;
}


.BEICON, .CommentIcon, .LikeIcon, .ShareIcon, .ViewsIcon{
  background: url(../images/sprites.png) no-repeat;
}

.BEICON {
  background-position: -1px 0;
  width: 100px;
  height: 70px;
  display: block;
}

.CommentIcon {
  background-position: -250px 0;
  width: 75px;
  height: 70px;
}

.LikeIcon {
  background-position: -324px 0;
  width: 75px;
  height: 70px;
}

.ShareIcon {
  background-position: -175px 0;
  width: 75px;
  height: 70px;
}

.ViewsIcon{
  background-position: -100px 0;
  width: 75px;
  height: 70px;
}

#add_process {
  position: relative;
}

.highlight {
  text-decoration: underline;
}